<h1>EVENTOS</h1>
<hr>

<% @events.each do |event| %>

  <div class="row">
    <div class="span4">
        
        <h3><%= event.artista.upcase %></h3>  
    </div>
    <div class="span4 text-center">
    <%= image_tag "logomini.png" %>
    </div>
    <div class="span4 text-center">
      <h3>DETALLES:</h3>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_tag event.imagen.url(:medium) %>
    </div>
    <div class="span4">
      <%= event.descripcion %>
    </div>
    <div class="span4 text-center">
      <hr>
      <span class="item-detalles">LUGAR | </span><%= event.lugar %>
      <hr>
      <span class="item-detalles">FECHA | </span><%= event.fecha_evento %>
      <hr>
      <span class="item-detalles">HORA | </span><%= %>
      <hr>
      <span class="item-detalles">CIERRE DE APUESTAS | </span><%= event.fecha_cierre %>
      <hr>
    </div>
  </div>
  <hr>
  
<% end %>

