<h1>Evento</h1>

<% @events.each do |event| %>
  <p>
    <%= image_tag event.imagen.url(:thumb) %>
    <%= link_to event.artista, event %>
    <% if can? :update, event %>
      <%= link_to "Editar", edit_event_path(event) %>
    <% end %>
    <% if can? :delete, event %>
      <%= link_to "Eliminar", event_path(event),  :method => :delete %>
    <% end %>
  </p>
<% end %>

<p><%= link_to "Agregar Eventos", new_event_path %></p>
