<h1>Agregar Evento</h1>

<%= form_for (@event) do |f| %>
  <div class="row">
    <div class="">
    </div>
  </div>
  <p>
    <%= f.label :artista %>
    <%= f.text_field :artista %>
  </p>
  <p>
    <%= f.label :lugar %>
    <%= f.text_field :lugar %>
  </p>
  <p>
    <%= f.label :fecha_evento %>
    <%= f.text_field :fecha_evento %>
  </p>
  <p>
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion, :size => "30x30" %>
  </p>
  <p>
    <%= f.label :fecha_cierre %>
    <%= f.text_field :fecha_cierre %>
  </p>
  <div class="field">
  <%= f.label :imagen %>
  <%= f.file_field :imagen %>
</div>
  <p>
    <%= f.submit "Crear Cuenta", :class => "btn" %>
  </p>
<% end %>