<header>
  <div class="container">
    <div class="login">
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav pull-right">
            <% unless user_signed_in? %>
              <li><%= link_to "CREAR CUENTA", new_user_registration_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "ENTRAR", new_user_session_path %></li>
            <% else %>
              <li class="dropdown">
                <a id="drop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-home icon-black"></i>Hola <%= current_user.nombre %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                  <li role="presentation">
                    <%= link_to edit_user_registration_path do %>
                      <i class="icon-user"></i>Perfil
                    <% end %>
                  </li>
                  <li>
                    <%= link_to tickets_path do %>
                      <i class="icon-list-alt"></i>Mis Eventos</a>
                    <% end %>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation">
                    <%= link_to destroy_user_session_path ,:method => :delete do %>
                          <i class="icon-off"></i>Cerrar Sesión
                    <% end %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <nav class="navbar">
      <div class="navbar-inner">
        <%= link_to image_tag("logo.png", :class => "logo"), root_url, :class => "brand" %>
        <form class="navbar-search pull-right">
            <i class="icon-search"></i>
            <input type="text" class="search-query span2">
        </form> 
        <ul class="nav">
          <li><a href="/como-funciona"a>COMO FUNCIONA</a></li>
          <li class="divider-vertical"></li>
          <li><%= link_to  "EVENTOS", events_path %></li>
          <li class="divider-vertical"></li>
          <li><a href="#">PREGUNTAS FRECUENTES</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>  
    </nav>
  </div>
</header>

 
